:root {
    --tertiary-color: #bebebe;
    --background-color: rgb(239, 239, 239);
    --text-color: rgb(40, 40, 40);
}

@font-face {
    font-family: 'imported-helvetica';
    src: url('Helvetica-Font/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'imported-helvetica';
    src: url('Helvetica-Font/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
	font-family: 'imported-helvetica';
    font-size: 16px;
}

body {
    background-color: var(--background-color);
    transition: all 0.8s ease;
    max-width: 100%;
    overflow-x: hidden;
    /* background: linear-gradient(135deg, var(--secondary-color) 0%, var(--secondary-color) 50%, var(--primary-color) 50%, var(--primary-color) 100%); */
    /* background: linear-gradient(135deg, var(--secondary-color), var(--primary-color)); */

}

#weather-icon svg path {
    stroke: var(--text-color);
}

h1, h2, h3 {
    color: var(--text-color);
}

#meteo, #dot {
    font-size: 8rem;
}

#meteo {
    color: var(--text-color);
    margin: 0;
    animation: moveFadeIn 1s ease-in-out;
    padding: 0;
    display: inline-block;
}


#dot {
    margin: 0;
    animation: moveFadeIn 2s ease-in-out;
    padding: 0;
    display: inline-block;
}

.header-div {
    display: flex;
    justify-content: space-between;
}

.night-btn-div {
    display: flex;
    align-items: center;
    animation: moveFadeIn 2s ease-in-out;
}

#night-btn {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 50px;
    height: 50px;
    border: 2px solid var(--text-color);
    border-radius: 25px;
    background-color: var(--text-color);
    transition: all 0.8s ease;
    cursor: pointer;
    animation: rotate 4s linear infinite;
}

#night-btn svg {
    transform: scale(1.5);
}

#night-btn svg path {
    stroke: var(--background-color);
}

#night-btn:hover {
    background-color: var(--background-color);
}

#night-btn:hover svg path {
    stroke: var(--text-color);
}

#night-btn:active {
    transform: scale(0.8);
}

#sun-icon {
    display: none;
}

#section1 {
    animation: fadeIn 1.5s ease-in-out;
}

#first-hr {
    border: 2px solid var(--text-color);
    width: 100%;
}

footer {
    position: absolute;
    bottom: 10px;
	/* padding: 10px; */
	color: var(--tertiary-color);
	font-size: 14px;
    animation: fadeIn 1.5s ease-in-out;
    margin: 0px;
}

#search-div {
    display: flex;
}

#searchbar {
    /* width: 300px; */
    width: 70%;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(249, 249, 249);
}

input:focus {
    outline: none;

}

#submit {
    width: 30%;
    height: 50px;
    border: 2px solid var(--text-color);
    border-radius: 25px;
    margin-left: 10px;
    background-color: var(--text-color);
    transition: all 0.8s ease;
    cursor: pointer;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

#submit svg {
    transform: scale(1.5);
}

#submit .default-icon path {
    stroke: var(--background-color);
}

#submit .hover-icon path {
    stroke: var(--text-color);
}

#submit:hover {
    background-color: var(--background-color);
}

#submit .hover-icon {
opacity: 0;
}

#submit:hover .default-icon {
opacity: 0;
}

#submit:hover .hover-icon {
opacity: 1;
}

#submit:active {
    transform: scale(0.8);
}

#second-hr {
    border: 2px solid var(--text-color);
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
}

#results {
    margin-top: 30px;
    animation: fadeIn 2s ease-in-out;
}

#results svg {
    width: 150px;
    height: 150px;
}

#weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#city-temperature {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#city-temperature h1 {
    margin: 0;
}

#weather-description {
    display: flex;
    justify-content: space-between;
}

@keyframes moveFadeIn {
	from {
		opacity: 0;
        transform: translateY(-30px);
	}
	to {
		opacity: 1;
        transform: translateY(0px);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 767px) {
    #city-temperature {
        display: block;
    }
    #results svg {
        width: 100px;
        height: 100px;
    }
    #meteo, #dot {
        font-size: 5rem;
    }
  }

  @media (min-width: 1000px) {
    body {
        margin-left: 25%;
        margin-right: 25%;
    }
  }

  a {
    /* text-decoration: none; */
    color: rgb(141, 141, 141);
  }

  @media (max-height: 700px) {
    footer {
        position: relative;
        margin-top: 50px;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }