:root {
    --primary-color: #e8701a;
    --secondary-color: #f9f9f9;
    --tertiary-color: #bebebe;

}

@font-face {
    font-family: 'Helvetica';
    src: url('../Helvetica-Font/Helvetica.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family: Helvetica;
    font-size: 16px;
}

body {
    /* background: linear-gradient(135deg, var(--secondary-color) 0%, var(--secondary-color) 50%, var(--primary-color) 50%, var(--primary-color) 100%); */
    /* background: linear-gradient(135deg, var(--secondary-color), var(--primary-color)); */

}

.title {
    font-size: 6rem;
    color: black;
    margin: 0;
    animation: moveFadeIn 1s ease-in-out;
    padding: 0;
    display: inline-block;
}

#dot {
    /* color: #e8701a; */
    font-size: 6rem;
    margin: 0;
    animation: moveFadeIn 2s ease-in-out;
    padding: 0;
    display: inline-block;
}

#section1 {
    animation: fadeIn 1.5s ease-in-out;
}

#first-hr {
    border: 2px solid black;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 10px;
	/* padding: 10px; */
	color: var(--tertiary-color);
	font-size: 14px;
    animation: fadeIn 1.5s ease-in-out;
    margin: 0px;
}

#search-div {
    display: flex;
}

#searchbar {
    /* width: 300px; */
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.2rem;
}

input:focus {
    outline: none;

}

#submit {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    margin-left: 10px;
    background-color: black;
    transition: all 0.8s ease;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#submit svg {
    transform: scale(1.5);
}

#submit .default-icon path {
    stroke: white;
}

#submit .hover-icon path {
    stroke: black;
}

#submit:hover {
    background-color: white;
}

#submit .hover-icon {
opacity: 0;
}

#submit:hover .default-icon {
opacity: 0;
}

#submit:hover .hover-icon {
opacity: 1;
}

#submit:active {
    transform: scale(0.5);
}

#second-hr {
    border: 1px solid black;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
}

#results {
    margin-top: 30px;
    animation: fadeIn 2s ease-in-out;
}

#results svg {
    width: 150px;
    height: 150px;
}

#weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#city-temperature {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#city-temperature h1 {
    margin: 0;
}

#weather-description {
    display: flex;
    justify-content: space-between;
}

@keyframes moveFadeIn {
	from {
		opacity: 0;
        transform: translateY(-30px);
	}
	to {
		opacity: 1;
        transform: translateY(0px);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 767px) {
    #city-temperature {
        display: block;
    }
    #results svg {
        width: 100px;
        height: 100px;
    }
  }

  @media (min-width: 1000px) {
    body {
        margin-left: 25%;
        margin-right: 25%;
    }
  }

  a {
    /* text-decoration: none; */
    color: rgb(141, 141, 141);
  }

  @media (max-height: 700px) {
    footer {
        position: relative;
        margin-top: 50px;
    }
  }